// Reset

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

//Fonts

@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&family=Inder&display=swap');

/*
1. gasoek-one-regular {
   font-family: "Gasoek One", sans-serif;
   font-weight: 400;
   font-style: normal;
}

2. indar-regular {
   font-family: "Inder", sans-serif;
   font-weight: 400;
   font-style: normal;
}
*/

// Variables

$header-text-color: #0053D4;
$background-color: #C6DCFF;
$text-color: #332115;
$black-color: #000000;
$white-color: #FFFFFF;
$gray-color: #00000076;