@use "main";

//Mobile 
@media (max-width: 768px) {

    Header {
        width: 100%;

        .header-content {
            h1 {
                font-size: 6rem;
            }
        }

        .locations-list {
            width: 100%;
        }
    }

    .hero-container {
        width: 100%;
    }

    .app-container {
        display: block;
        width: 100%;
        height: 100vh;
    }
}


//Fixing text for bigger screens
@media (min-width: 769px) and (max-width: 1346px) {
    Header {
        .header-content {
            h1 {
                font-size: 5em;
            }
        }
    }
}